@using BowlPoolManager.Core
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Leaderboard
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="results">
                <span class="oi oi-list" aria-hidden="true"></span> Results
            </NavLink>
        </div>
        
        <AuthorizeView Roles="@Constants.Roles.SuperAdmin">
            <Authorized>
                <div class="nav-item px-3 mt-3">
                    <span class="text-light small text-uppercase fw-bold px-3">Admin</span>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/dashboard">
                        <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/games">
                        <span class="oi oi-list" aria-hidden="true"></span> Manage Schedule
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/results">
                        <span class="oi oi-check" aria-hidden="true"></span> Enter Results
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/entry">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Enter Picks
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
